@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background: #F2F2F2;
  color: #333333;
  margin: 0;
  height: 100%;
  padding: 0 40px;
}

.container {
  margin: 0 auto;
  width: 1200px;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background: #ffffff;
}

.main-container {
  flex-grow: 1;
}

/*Header*/

.page-header {
  display: flex;
  width: 1060px;
  padding: 0 70px;
  margin: 0 auto;
  background: #ffffff;
  color: #000000;
}

.logo-link {
  display: block;
  margin-right: 30px;
}

.navigation {
  display: flex;
  justify-content: space-between;
  width: 890px;
}

.navigation-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navigation-link {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-decoration: none;
  color: inherit;
  text-align: center;
}

.button {
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  text-decoration: none;
  background-color: rgba(242, 242, 242, 0);
  font-family: "PT Sans", sans-serif;
  border: 0;
}

/*коричневые кнопки*/
.button-primary {
  background-color: #756157;
}

/*голубые кнопки*/
.button-secondary {
  background-color: #82B3D3;
}
/*зеленые кнопки*/
.button-favourit {
  background-color: #7DB54F;
}

/*кнопки с меньшим шрифтом*/
.button-smaller-font {
  font-size: 16px;
  line-height: 20px;
}

/*main-index*/

.hero-main {
  background: #ffffff;
  text-align: center;
}

.hero-img {
  background-color: #F2F2F2;
  background-image: url("../images/index-background.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  height: 485px;
}

.hero-img img {
  display: block;
  margin: 0 auto;
}

.hero-description {
  text-align: center;
  width: 1200px;
  padding: 69px 0;
}
.hero-slogan, .slogan {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.hero-slogan {
  display: block;
  margin: 0 auto;
  width: 620px;
  margin-bottom: 25px;
}
.slogan-desc {
  font-size: 22px;
  line-height: 26px;
}
/*advantages*/

.advantages {
  background-color: #82B3D3;
  color: #ffffff;
}

.advantages-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.advantages-item {
  text-align: center;
  display: flex;
}

.advantages-description-list {
  display: flex;
  color: #000000;
  background-color: #ffffff;
  list-style: none;
  margin: 0;
  padding: 0;
}

.advantages-description-item {
  background-color: rgba(131, 179, 211, 0.12);
  width: 230px;
  padding: 103px 85px;
}

.advantages-description-item:nth-child(even) {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
}

/*services*/
.services {
  background-color: #ffffff;
  text-align: center;
}
.slogan {
  display: block;
  margin: 0 auto;
  width: 505px;
  margin-bottom: 20px;
}

.services-description {
  padding:64px 0;
}

.services-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.services-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
}

.services-item:nth-child(odd){
  background-color: rgba(131, 179, 211, 0.12);
}
.services-item {
  width: 230px;
  padding: 80px 85px;
}

/* Поиск гостиницы и подписка на новости */
.search-hotel {
  background-color: #ffffff;
  text-align: center;
  padding: 96px 304px;
}

.newsletter {
  color: #ffffff;
  background-color: #82B3D3;
  background-image: url(../images/newsletter.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  text-align: center;
  padding: 96px 258px 104px 258px;
}

.newsletter-form input {
  background-color: #F2F2F2;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 24px;
}

.newsletter h2 {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px; 
  text-transform: uppercase;
}

/*footer*/

.page-footer {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  padding: 40px  70px 30px 70px;
}

.social-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.footer-phone {
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-decoration: none;
}

/* Окно для поиска гостиницы по датам */

.modal-search-form {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  background-color: #ffffff;
  width: 577px;
  height: 448px;
  padding: 64px 70px;
}

.modal-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.comment {
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
}

.comment-error {
  color: #FF5757;
}

.modal-close-button {
  background-color: #F2F2F2;
}

.hotel-form input {
  background-color: #F2F2F2;
}

.hotel-form .button {
  line-height: 24px;
  width: 100%;
  padding: 18px 77px;

}

.hotel-form-visitors {
  display: flex;
  justify-content: space-between;
  margin-bottom: 48px;
}

.hotel-form-visitors p {
  margin: 0;
}

/*catalog*/

.main-inner-title {
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
  margin: 0;
  margin-bottom: 8px;
}

.main-inner-filter {
  background-color: #F2F2F2;
  background-image: url(../images/inner-filter.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  color: #FFFFFF;
  padding: 35px 70px 70px;
}

.breadcrumbs {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  margin-bottom: 40px;
}

.breadcrumbs-link {
  color: inherit;
  text-decoration: none;
}

fieldset {
  margin: 0;
  padding: 0;
}

.catalog-filter {
  display: flex;
  justify-content: space-between;
}

.catalog-filter-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.catalog-filter-group {
  margin: 0;
  padding: 0;
  border: none;
}

.catalog-filter-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.catalog-filter-item {
  line-height: 23px;
}

/* кнопки с размером шрифта 16px*/
.button-smaller-font {
  display: block;
}

.main-catalog {
  background-color: #ffffff;
  padding: 50px 70px 60px;
}

/*Сортировка*/

.selection-parameters {
  display: flex;
  width: 1060px;
  height: 49px;
  margin-bottom: 40px;
  justify-content: flex-end;
}

.number-search {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  margin-left: 0;
  flex-grow: 1;
}

.catalog-control {
  width: 292px;
}

.view-composition {
  width: 160px;
  margin-left: 70px;
  display: flex;

}

.button-composition {
  text-decoration: none;
  color: #000000;
}

.button-composition.active {
  color: #ffffff;
  background-color: #000000;
}

/*Карточки товаров*/

.product-list {
  list-style: none;
}

.product-card-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  color: #000000;
}

.product-card-link {
  text-decoration: none;
}

.rating {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  background-color: #F2F2F2;
}

/*Пагинация*/

.pagination {
  list-style: none;
}

.pagination-link {
  background-color: #82B3D3;
  text-decoration: none;
  color: #ffffff;
}

.pagination-current {
  background-color: #F2F2F2;
  color: #000000;
}

.main-inner .newsletter {
  background-color: #ffffff;
  background-image: none;
  color: #000000;
}
