@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background: #F2F2F2;
  color: #333333;
  margin: 0;
  height: 100%;
  padding: 0 40px;
}

.container {
  margin: 0 auto;
  width: 1200px;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background: #ffffff;
}

.main-container {
  flex-grow: 1;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

/*Header*/

.page-header {
  display: flex;
  width: 1060px;
  min-height: 64px;
  padding: 0 70px;
  margin: 0 auto;
  background: #ffffff;
  color: #000000;
}

.logo-link {
  display: block;
  position: absolute;

}

.navigation {
  display: flex;
  justify-content: space-between;
  width: 890px;
  margin-left: 168px;
}

.navigation-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.navigation-link {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-decoration: none;
  color: inherit;
  text-align: center;
  padding: 20px 16px;
  display: block;
}

.navigation-user .link-icon {
  display: block;
  min-width: 20px;
  min-height: 20px;
  padding: 22px 12px;
}
 
.navigation-user .navigation-item:nth-child(1) .link-icon {
  background-image: url("../images/icons/search.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 18px 18px;
}

.navigation-user .navigation-item:nth-child(2) .link-icon {
  background-image: url("../images/icons/like-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 18px 17px;
}

.navigation-user .navigation-item:nth-child(3) {
  margin-left: 20px;
}

.button {
  display: inline-block;
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #756157;
  font-family: "PT Sans", sans-serif;
  border: none;
  padding: 8px 50px;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
}

/*бесцветные кнопки*/
.button-colorless {
  background-color: rgba(242, 242, 242, 0);
}

/*голубые кнопки*/
.button-secondary {
  background-color: #82B3D3;
}
/*зеленые кнопки*/
.button-favourit {
  background-color: #7DB54F;
}

/*кнопки с меньшим шрифтом*/
.button-smaller-font {
  font-size: 16px;
  line-height: 20px;
  display: block;
}

/*main-index*/

main {

}

.hero-main {
  background: #ffffff;
  text-align: center;
  margin-bottom: 21px;
}

.hero-img {
  background-color: #F2F2F2;
  background-image: url("../images/index-background.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  height: 352px;
  padding-top: 51px;
  padding-bottom: 82px;
}

.hero-img img {
  display: block;
  margin: 0 auto;
}

.hero-description {
  text-align: center;
  width: 1200px;
  padding: 69px 0;
}
.hero-slogan, .slogan {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.hero-slogan {
  display: block;
  margin: 0 auto;
  width: 620px;
  margin-bottom: 25px;
}
.slogan-desc {
  font-size: 22px;
  line-height: 26px;
  margin: 0;
}
/*advantages*/

.advantages {
  background-color: #82B3D3;
  color: #ffffff;
}

.advantages-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.advantages-item {
  text-align: center;
  display: flex;
}

.advantages-description-list {
  display: flex;
  flex-wrap: wrap;
  color: #000000;
  background-color: #ffffff;
  list-style: none;
  margin: 0;
  padding: 0;
}

.advantages-description-item {
  background-color: rgba(131, 179, 211, 0.12);
  width: 230px;
  min-height: 179px;
  padding: 103px 85px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.advantages-description-item:nth-child(even) {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 30px;
}

.advantages-description {
  margin: 0;
  margin-top: 30px;
}

/*services*/
.services {
  background-color: #ffffff;
  text-align: center;
}
.slogan {
  display: block;
  margin: 0 auto;
  width: 505px;
  margin-bottom: 20px;
}

.services-description {
  padding:64px 0;
}

.services-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.services-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  margin-top: 102px;
  margin-bottom: 30px;
}

.services-item {
  width: 230px;
  padding: 80px 85px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.services-item:nth-child(odd){
  background-color: rgba(131, 179, 211, 0.12);
}

.services-item:first-child {
  background-image: url("../images/advantages/advantage-icon-1.svg");
  background-repeat: no-repeat;
  background-size: 75px 72px;
  background-position: center top 80px;
}

.services-item:nth-child(2) {
  background-image: url("../images/advantages/advantage-icon-2.svg");
  background-repeat: no-repeat;
  background-size: 75px 72px;
  background-position: center top 80px;
}

.services-item:last-child {
  background-image: url("../images/advantages/advantage-icon-3.svg");
  background-repeat: no-repeat;
  background-size: 75px 72px;
  background-position: center top 80px;
}

.services-item p {
  margin: 0;
}

/* Поиск гостиницы и подписка на новости */
.search-hotel {
  background-color: #ffffff;
  padding-top: 96px;
  padding-bottom: 96px;
}

.search-hotel-wrapper {
  text-align: center;
  width: 592px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.search-hotel-wrapper .slogan-desc {
  margin-bottom: 54px;
}

.search-hotel-button {
  display: inline-block;
}

.newsletter {
  color: #ffffff;
  background-color: #82B3D3;
  background-image: url(../images/newsletter.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  text-align: center;
  padding-top: 96px;
  padding-bottom: 104px;
}

.newsletter-wrapper {
  width: 684px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.newsletter-wrapper h2 {
  margin: 0;
  margin-bottom: 20px;
}

.newsletter-wrapper .slogan-desc {
  margin-bottom: 54px;
}

.newsletter-form {
  display: flex;
}

.newsletter-form input {
  background-color: #F2F2F2;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 24px;
  flex-grow: 1;
  border: none;
  border-radius: 4px 0px 0px 4px; 
  padding: 12px 20px;
}

.newsletter-form button {
  border-radius: 0px 4px 4px 0px;
}

.newsletter h2 {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px; 
  text-transform: uppercase;
}

/*footer*/

.page-footer {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px  70px 30px 70px;
}

.social-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.social-item {
  display: block;
  min-width: 24px;
  min-height: 14px;
}

.social-item a {
  display: block;
  padding: 10px;
}

.social-item svg {
  display: block;
}

.footer-phone {
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-decoration: none;
}

.footer-link img {
  display: block;
}

/* Окно для поиска гостиницы по датам */

.modal-search-form {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  background-color: #ffffff;
  width: 577px;
  height: 448px;
  padding: 64px 70px;
}

.modal-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.comment {
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
}

.comment-error {
  color: #FF5757;
}

.modal-close-button {
  background-color: #F2F2F2;
}

.hotel-form {
  display: grid;
  grid-template-columns: 247px 242px;
  gap: 48px 88px;
}

.hotel-form-date {
  grid-column: 1/-1;
}

.hotel-form p {
  margin: 0;
}
.hotel-form input {
  background-color: #F2F2F2;
}

.hotel-form .button {
  line-height: 24px;
  width: 100%;
  padding: 18px 77px;

}

.hotel-form-visitors {
  display: flex;
  justify-content: space-between;
}

.hotel-form-button {
  grid-column: 1/-1;
}

/*catalog*/

.main-inner-title {
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
  margin: 0;
  margin-bottom: 8px;
}

.main-inner-filter {
  background-color: #F2F2F2;
  background-image: url(../images/inner-filter.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  color: #FFFFFF;
  padding: 35px 70px 70px;
}

.breadcrumbs {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  margin-bottom: 40px;
  font-size: 16px;
}

.breadcrumbs-item {
  display: block;
  min-width: 13px;
  margin-right: 27px;
}

.breadcrumbs-link {
  color: inherit;
  text-decoration: none;
}

fieldset {
  margin: 0;
  padding: 0;
}

.catalog-filter {
  display: flex;
  justify-content: space-between;
}

.catalog-filter-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.catalog-filter-group {
  margin: 0;
  padding: 0;
  border: none;
}

.catalog-filter-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.catalog-filter-item {
  line-height: 23px;
}

.main-catalog {
  background-color: #ffffff;
  padding: 50px 70px 60px;
  width: 1060px;
}

/*Сортировка*/

.selection-parameters {
  display: flex;
  height: 49px;
  margin-bottom: 40px;
  justify-content: flex-end;
}

.number-search {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  margin-left: 0;
  flex-grow: 1;
}

.view-composition {
  width: 160px;
  margin-left: 70px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;
}

.catalog-control {
  font-size: 18px;
  line-height: 21px;
  width: 292px;
  padding: 14px 20px;
  border-radius: 4px;
  border: 2px solid #E5E5E5;
}

.button-composition {
  text-decoration: none;
  color: #000000;
  display: block;
  width: 24px;
  height: 17px;
  padding: 14px 12px;
  border-radius: 4px;
  border: 2px solid #E5E5E5;
}

.button-composition.active {
  color: #ffffff;
  border: 2px solid #000000;
}

.view-cards {
  background-image: url(../images/icons/view-cards.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px 14px;
}

.view-big {
  background-image: url(../images/icons/view-big.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px 14px;
}

.view-list {
  background-image: url(../images/icons/view-list.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px 14px;
}
/*Карточки товаров*/

.product-list {
  list-style: none;
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 20px;
}

.product-card {
  display: grid;
  grid-template-columns: 140px 140px;
  grid-template-rows: 212px 1fr;
  gap: 16px 20px;
  width: 298px;
  padding: 20px;
  border-radius: 4px;
  border: 1px solid #E6E6E6;
}

.product-card p {
  margin: 0;
}

.product-card .button {
  padding-left: 0;
  padding-right: 0;
}

.product-card-image {
  display: block;
}

.product-card-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  color: #000000;
  margin: 0;

}

.product-card-link {
  text-decoration: none;
  grid-column: 1/-1;
}

.product-card-right {
  justify-self: end;
}

.rating {
  background-color: #F2F2F2;
  color: #000000;
  font-weight: 400;
}

/*Пагинация*/

.pagination {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  padding-top: 40px;
  border-top: 2px solid #E6E6E6;
}

.pagination-item {
  margin-right: 8px;
}

.pagination-item:last-child {
  margin-right: 0;
} 
.pagination-ellipsis {
  width: 60px;
  height: 60px;
  display: inline-block;
}

.pagination-link {
  background-color: #82B3D3;
  text-decoration: none;
  color: #ffffff;
  width: 60px;
  height: 60px;
  display: block;
  box-sizing: border-box;
  line-height: 36px;
  font-size: 20px;
  font-weight: 700; 
  border-radius: 4px;
  text-align: center;
  padding: 11.364px 0px 12.636px 0px;
}

.pagination-current {
  background-color: #F2F2F2;
  color: #000000;
}

.main-inner .newsletter {
  background-color: #ffffff;
  background-image: none;
  color: #000000;
}

