@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background: #f2f2f2;
  color: #333333;
  margin: 0;
  height: 100%;
  padding: 0 40px;
  min-width: 1200px;
}

.container {
  margin: 0 auto;
  width: 1200px;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background: #ffffff;
  box-shadow: 0px 25px 50px 0px rgba(0, 0, 0, 0.15);
}

.main-container {
  flex-grow: 1;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

/*Header*/

.page-header {
  display: flex;
  width: 1060px;
  min-height: 64px;
  padding: 0 70px;
  margin: 0 auto;
  background: #ffffff;
  color: #000000;
}

.logo-link {
  display: block;
  position: absolute;
  z-index: 1;
}

.navigation {
  display: flex;
  justify-content: space-between;
  width: 890px;
  margin-left: 168px;
}

.navigation-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  min-width: 81px;
}

.navigation-link {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-decoration: none;
  color: inherit;
  text-align: center;
  padding: 20px 16px;
  display: block;
  position: relative;
}

.navigation-link:hover,
.logo-link:hover,
.link-icon:hover {
  opacity: 0.8
}

.active .navigation-link::after {
  position: absolute;
  content: "";
  height: 2px;
  bottom: -1px; 
  right: 16px;
  left: 16px;
  background-color: #756257;
}

.navigation-user {
  width: 268px;
  margin-right: -2px;
}

.navigation-user .link-icon {
  display: block;
  min-width: 20px;
  min-height: 20px;
  padding: 22px 12px;
  position: relative;
}

.navigation-user .navigation-item:nth-child(2) .link-icon::after {
  position: absolute;
  content: "12";
  width: 12px;
  height: 10px;
  background-color: #7db54f;
  right: 4px;
  top: 11px; 
  border-radius: 50%;
  font-size: 10px;
  line-height: 10px;
  color: #ffffff;
  padding: 5px 4px;
  text-align: center;
}
 
.navigation-user .navigation-item:nth-child(1) .link-icon {
  background-image: url("../images/icons/search.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 18px 18px;
}

.navigation-user .navigation-item:nth-child(2) .link-icon {
  background-image: url("../images/icons/like-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 18px 17px;
}

.navigation-user .navigation-item:nth-child(3) {
  margin-left: 20px;
}

.button {
  display: inline-block;
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  text-decoration: none;
  font-family: "PT Sans", sans-serif;
  border: none;
  padding: 8px 50px;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
}

.navigation-item .button {
  padding: 8px 2px;
  width: 160px;
  height: 36px;
  box-sizing: border-box;
}
/*коричневые*/
.button-brown {
  background-color: #756157;
}

/*бесцветные кнопки*/
.button-colorless {
  background-color: rgba(242, 242, 242, 0);
}

/*голубые кнопки*/
.button-blue {
  background-color: #82b3d3;
}
/*зеленые кнопки*/
.button-green {
  background-color: #7db54f;
}

/*кнопки с меньшим шрифтом*/
.button-smaller-font {
  font-size: 16px;
  line-height: 20px;
  display: block;
}

.button-brown:hover {
  background-color: #615048;
}

.button-brown:focus {
  background-color: #615048;
  outline: none;
}

.button-brown:active {
  background-color: #756157;
}

.button-blue:hover {
  background-color: #68a2ca;
}

.button-blue:focus {
  background-color: #68a2ca;
  outline: none;
}

.button-blue:active {
  background-color: #82b3d3;
}

.button-green:hover {
  background-color: #6c9e42;
}

.button-green:focus {
  background-color: #6c9e42;
  outline: none;
}

.button-green:active {
  background-color: #7db54f;
}

.button-colorless:hover {
  opacity: 0.6;
}

.button-colorless:focus {
  border-radius: 4px;
  outline: 3px solid #83b3d3;
}

.button-colorless:active {
  opacity: 0.3;
}

.button:disabled {
  background-color: #e5e5e5;
  cursor: default;
}

/*main-index*/

.hero-main {
  background: #ffffff;
  text-align: center;
  margin-bottom: 21px;
}

.hero-img {
  background-color: #f2f2f2;
  background-image: url("../images/index-background.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  height: 352px;
  padding-top: 51px;
  padding-bottom: 82px;
  position: relative;
}

.hero-img img {
  display: block;
  margin: 0 auto;
}

.hero-img::after {
  position: absolute;
  content: "";
  background: url(../images/white-decor.svg) no-repeat;
  width: 100%;
  left: 0;
  bottom: 0;
  height: 57px;
}

.hero-description {
  text-align: center;
  width: 1200px;
  padding: 69px 0;
}
.hero-slogan,
.slogan {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.hero-slogan {
  display: block;
  margin: 0 auto;
  width: 630px;
  margin-bottom: 25px;
}
.slogan-desc {
  font-size: 22px;
  line-height: 26px;
  margin: 0;
}
/*advantages*/

.advantages {
  background-color: #82b3d3;
  color: #ffffff;
}

.advantages-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.advantages-list img {
  object-fit: cover;
  height: auto;
}

.advantages-item {
  text-align: center;
  display: flex;
  background-color: #82b3d3;
}

.advantages-description-list {
  display: flex;
  flex-wrap: wrap;
  color: #000000;
  background-color: #ffffff;
  list-style: none;
  margin: 0;
  padding: 0;
}

.advantages-description-item {
  background-color: rgba(131, 179, 211, 0.12);
  width: 240px;
  min-height: 179px;
  padding: 103px 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.advantages-description-item:nth-child(even) {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  margin: 0;
  padding-bottom: 30px;
  position: relative;
}

.advantages-title::after {
  position: absolute;
  content: "";
  width: 60px;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.30);
  right: 90px;
  left: 90px;
  bottom: 0;
}

.advantages-description {
  margin: 0;
  margin-top: 30px;
}

.advantages-list .advantages-title::after {
  background-color: rgba(255, 255, 255, 0.30);
} 

.advantages-description-list .advantages-title::after {
  position: absolute;
  content: "";
  width: 60px;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.30);
  right: 85px;
  left: 85px;
  bottom: 0;
}

/*services*/
.services {
  background-color: #ffffff;
  text-align: center;
}
.slogan {
  display: block;
  margin: 0 auto;
  width: 505px;
  margin-bottom: 20px;
}

.services-description {
  padding:64px 0;
}

.services-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.services-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  margin-top: 102px;
  margin-bottom: 30px;
}

.services-item {
  width: 230px;
  padding: 80px 85px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.services-item:nth-child(odd){
  background-color: rgba(131, 179, 211, 0.12);
}

.services-item:first-child {
  background-image: url("../images/advantages/advantage-icon-1.svg");
  background-repeat: no-repeat;
  background-size: 75px 72px;
  background-position: center top 80px;
}

.services-item:nth-child(2) {
  background-image: url("../images/advantages/advantage-icon-2.svg");
  background-repeat: no-repeat;
  background-size: 75px 72px;
  background-position: center top 80px;
}

.services-item:last-child {
  background-image: url("../images/advantages/advantage-icon-3.svg");
  background-repeat: no-repeat;
  background-size: 75px 72px;
  background-position: center top 80px;
}

.services-item p {
  margin: 0;
}

/* Поиск гостиницы и подписка на новости */
.search-hotel {
  background-color: #ffffff;
  padding-top: 97px;
  padding-bottom: 96px;
}

.search-hotel-wrapper {
  text-align: center;
  width: 592px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.search-hotel-wrapper .slogan-desc {
  margin-bottom: 55px;
}

.search-hotel-button {
  display: inline-block;
  width: 276px;
  margin: 0 auto;
}

.newsletter {
  color: #ffffff;
  background-color: #82B3D3;
  background-image: url(../images/newsletter.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  text-align: center;
  padding-top: 96px;
  padding-bottom: 104px;
}

.newsletter-wrapper {
  width: 684px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.newsletter-wrapper h2 {
  margin: 0;
  margin-bottom: 20px;
}

.newsletter-wrapper .slogan-desc {
  margin: 0 auto;
  width: 475px;
  margin-bottom: 54px;
}

.newsletter-form {
  display: flex;
}

.newsletter-form input {
  background-color: #F2F2F2;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 24px;
  flex-grow: 1;
  border: none;
  border-radius: 4px 0px 0px 4px; 
  padding: 12px 20px;
}

.newsletter-form input:disabled {
  opacity: 0.6;
}

.newsletter-form button {
  border-radius: 0px 4px 4px 0px;
}

.newsletter h2 {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px; 
  text-transform: uppercase;
}

/*footer*/

.page-footer {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 70px 30px 70px;
  height: 50px;
}

.social-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 7px;
}

.social-item {
  display: block;
  min-width: 18px;
  min-height: 14px;
}

.social-item a {
  display: block;
  padding: 10px;
  color: #83B3D3;
}

.social-item svg {
  display: block;
}

.social-item a:hover {
  color: #68A2CA;
}

.social-item a:focus {
  color: #68A2CA;
}

.social-item a:active {
  color: #68A2CA;
  opacity: 0.3;
}

.footer-phone {
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-decoration: none;
  width: 340px;
  padding: 5px 194px 5px 195px;

}

.footer-phone:hover {
  color: #756157;
}

.footer-phone:focus {
  color: #756157;
}

.footer-phone:active {
  color: #756157;
  opacity: 0.3;
}

.footer-link {
  color: #000000;
}

.footer-link svg {
  display: block;
}

.footer-link:hover {
  color: #756157;
}

.footer-link:focus {
  color: #756157;
}

.footer-link:active {
  color: #756157;
  opacity: 0.3;
}

/* Окно для поиска гостиницы по датам */
.modal-search-form {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background: rgba(242, 242, 242, 0.80); 
}

.modal-form-close {
  display: none;
}

.modal-container {
  position: relative;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  background-color: #ffffff;
  width: 577px;
  height: 448px;
  padding: 64px 70px;
  border-radius: 30px;
  margin: auto;
  box-shadow: 0px 25px 50px 0px rgba(0, 0, 0, 0.15);
}

.modal-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 64px;
}

.comment {
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  float: right;
  width: 420px;
  padding-left: 20px;
}

.comment-error {
  color: #ff5757;
}

.modal-close-button {
  position: absolute;
  left: 614px;
  top: 65px;
  background-color: #f2f2f2;
  background-image: url(../images/icons/close-icon.svg);
  background-repeat: no-repeat;
  background-size: 14px 14px;
  background-position:  50% 50%;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  outline: none;
}

.modal-close-button:hover {
  background-color: #e6e6e6;
}

.modal-close-button:focus {
  background-color: #e6e6e6;
  outline: 3px solid #83b3d3;
}

.modal-close-button:active {
  background-color: #e6e6e6;
  opacity: 0.6;
}

.hotel-form {
  display: grid;
  grid-template-columns: 247px 242px;
  gap: 23px 88px;
  position: relative;
}

.hotel-form-date {
  grid-column: 1/-1;
}

.hotel-form p {
  margin: 0;
}
.hotel-form input {
  background-color: #f2f2f2;
}

.hotel-form .button {
  line-height: 24px;
  width: 100%;
  padding: 18px 77px;
  outline: none;
  margin-top: 25px;
}

.hotel-form-title {
  display: flex;
  justify-content: space-between;
}

.hotel-form-visitors {
  display: flex;
  align-items: center;
  gap: 46px;
  width: 247px;
}

.hotel-form-button {
  grid-column: 1/-1;
}

.hotel-form-label {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 4px;
}

.hotel-form-label span {
  width: 120px;
}

.field {
  padding: 12px 20px;
  border-style: none;
  border-radius: 4px;
  background-color: #f2f2f2;
  font: inherit;
  font-size: 18px;
  width: 400px;
  outline: none;
}

.hotel-form-date .field:hover {
  opacity: 0.6;
  background: #e6e6e6;
}
 
.hotel-form-date .field:placeholder-shown {
  background: #f2f2f2;
}

.hotel-form-date .field:not(:placeholder-shown) {
  outline: 2px solid #000000;
  background: #f2f2f2;
}

.hotel-form-date .field:focus-visible {
  outline: 3px solid #83b3d3;
  background: #e6e6e6;
  opacity: 0.6;
  border: none;
}

.hotel-form-date .field:invalid {
  color: #ff5757;
  background: #f2f2f2;
}

.hotel-form-date .field:disabled {
  border: none;
  opacity: 0.3;
}

.counter {
  width: 110px;
  height: 48px;
  box-sizing: border-box;
  background-color: #f2f2f2;
  display: flex;
  border-radius: 4px;
}

.hotel-form-visitors .field {
  padding: 14px 10px;
  width: 11px;
  height: 20px;
  border-radius: 0;

}
.minus, .plus {
  width: 40px;
  height: 48px;
  padding: 14px 10px;
  border: none;
  cursor: pointer;
}

.minus {
  background: url(../images/icons/minus-icon.svg) no-repeat;
  background-position: 50% 50%;
}

.plus {
  background: url(../images/icons/plus-icon.svg) no-repeat;
  background-position: 50% 50%;
}

.minus:hover {
  background: url(../images/icons/minus-black.svg) no-repeat;
  background-position: 50% 50%;
}

.plus:hover {
  background: url(../images/icons/plus-black.svg) no-repeat;
  background-position: 50% 50%;
}

.counter button:active {
  opacity: 0.3;
}

.minus:focus-visible {
  background: url(../images/icons/minus-black.svg) no-repeat;
  background-position: 50% 50%;
  border-radius: 4px;
  border: 3px solid #82B3D3;
  outline: none;
}

.plus:focus-visible  {
  background: url(../images/icons/plus-black.svg) no-repeat;
  background-position: 50% 50%;
  border-radius: 4px;
  border: 3px solid #82B3D3;
  outline: none;
}

.field::-webkit-outer-spin-button,
.field::-webkit-inner-spin-button {
  appearance: none;
  margin: 0; 
}

.counter button:disabled {
  background-color: #83b3d3;
  opacity: 0.6;
}

.counter input:disabled {
  background-color: #83b3d3;
  opacity: 0.6;
}

.calendar-button {
  position: absolute; 
  right: 20px;
  width: 16px;
  height: 15px;
  border: none;
  box-sizing: content-box;
  padding: 2px 2px 3px 2px;
  top: 12px;
  opacity: 0.3;
  cursor: pointer;
}

.tooltip-toggle {
  background: url(../images/icons/tooltip.svg) no-repeat;
  border:none;
  width: 26px;
  height: 26px;
  background-color: #ffffff;
  padding: 0;
  cursor: pointer;
}

.tooltip {
  position: absolute;
  top: 245px;
  right: 43px;
  width: 256px;
  height: 143px;
  border-radius: 10px;
  background: #333333;
  box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.30);
  padding: 19px 18px 18px 22px;
  box-sizing: border-box;
  color: #ffffff;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  z-index: 1;
  display: none;
}

.tooltip::before {
  content: "";
  position: absolute;
  width: 19px;
  height: 9px;
  top: -9px;
  left: 119px;
  background-image: url(../images/icons/triangle.svg);
  background-repeat: no-repeat;
}

.tooltip-toggle:hover ~.tooltip{
  display: block;
}

.hotel-form-children {
  display: flex;
  gap: 10px;
  width: 85px;
}

/*catalog*/

.main-inner-title {
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
  margin: 0;
  margin-bottom: 8px;
}

.main-inner-filter {
  background-color: #f2f2f2;
  background-image: url(../images/inner-filter.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  color: #ffffff;
  padding: 35px 70px 70px;
}

.breadcrumbs {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  margin-bottom: 40px;
  font-size: 16px;
  flex-wrap: wrap;
}

.breadcrumbs-item {
  display: block;
  min-width: 13px;
  padding-right: 7px;
  margin-right: 10px;
  position: relative;
}

.breadcrumbs-link {
  color: inherit;
  text-decoration: none;
  display: block;
  cursor: pointer;
  min-height: 21px;
  min-width: 13px;
  padding-right: 10px; 
}

.breadcrumbs-item:hover {
  opacity: 0.6;
}

.breadcrumbs-item:focus {
  color: #ffffff;
}

.breadcrumbs-item:active {
  opacity: 0.3;
}

.breadcrumbs-item:nth-child(1) {
  background-image: url(../images/icons/hous-icon.svg);
  background-repeat: no-repeat;
  background-size: 13px 15px;
  background-position:  0% 50%;
}

.breadcrumbs-item::after {
  content: "";
  position: absolute;
  background-image: url(../images/icons/right-arrow.svg);
  background-repeat: no-repeat;
  width: 8px;
  height: 11px;
  top: 5px;
  right: 0px;
}

.breadcrumbs-item:last-child::after {
  content: none;
}

fieldset {
  margin: 0;
  padding: 0;
}

.catalog-filter {
  display: flex;
  justify-content: space-between;
}

.catalog-filter-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  padding: 0;
}

.catalog-filter-left {
  display: flex;
  gap: 70px;
}

.catalog-filter-right {
  display: flex;
  gap: 70px;
}

.catalog-filter-group {
  margin: 0;
  padding: 0;
  border: none;
}

.catalog-filter-left .catalog-filter-group {
  width: 150px;
}

.catalog-filter-right .price {
  width: 288px;
}

.catalog-filter-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.catalog-filter-item {
  line-height: 23px;
}

.control {
  position: relative;
  display: block;
  padding-left: 36px;
}

.control-mark,
.control-radio {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  background-color: #ffffff;
  left: 0;
  top: 2px;
}

.control-radio {
  border-radius: 50%;
}

.control-input[type="checkbox"]:checked + .control-mark::after {
  content: "";
  position: absolute;
  background: url(../images/icons/checkbox.svg) no-repeat;
  width: 20px;
  height: 20px;
}

.control-input[type="radio"]:checked + .control-radio::after {
  content: "";
  position: absolute;
  background: url(../images/icons/point.svg) no-repeat;
  width: 20px;
  height: 20px;
}

.control-input:hover ~ span {
  opacity: 0.6;
}

.control-input:focus-visible + .control-mark,
.control-input:focus-visible + .control-radio {
  outline: 3px solid #83b3d3;
}

.control-input:active ~ span {
  opacity: 0.3;
}

.catalog-filter-title {
  margin-bottom: 32px;
}

.control-input:disabled ~ span {
  opacity: 0.6;
  color: #000000;
}

.range-wrapper-inputs {
  display: flex;
  width: 288px;
  height: 48px;
  align-items: flex-start;
  gap: 2px;
  
}

.range-label {
  display: flex;
  color: rgba(0, 0, 0, 0.3);
  width: 143px;
  height: 48px;
  padding: 12px 20px;
  box-sizing: border-box;
  background: #f2f2f2;
  line-height: 24px;
}

.range-input {
  width: 83px;
  border: none;
  font: inherit;
  font-weight: 700;
  background: transparent;
  outline: none;
  padding: 0;
}
.range-label:first-child .range-input {
  width: 86px;
}

.range-label:first-child {
  border-radius: 4px 0px 0px 4px;
}

.range-label:last-child {
  border-radius: 0 4px 4px 0;
}

.range-label:focus-within {
  border: 2px solid #000000;
}

.range-label:focus {
  border: 3px solid #83b3d3;
}

.range-input:disabled {
  opacity: 0.6;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0; 
}

.range-scale {
  position: relative;
  height: 4px;
  background-color: rgba(255,255,255,0.3);
  margin-top: 44px;
}

.range-bar {
  position: absolute;
  background-color: #ffffff;
  height: 4px;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  background-color: #ffffff;
  padding: 0;
  cursor: pointer;
  border-style: none;
}

.range-toggle:hover {
  box-shadow: 0 4px 5px;
}

.range-toggle:focus {
  outline: 3px solid #83b3d3;
  box-shadow: 0 4px 5px;
}

.range-toggle:active {
  outline: 2px solid #83b3d3;
  box-shadow: 0 4px 5px;
}

.toggle-min {
  top: -8px;
  left: 0;
}

.toggle-max {
  top: -8px;
  right: 0;
}

.wrap-button {
  padding-top: 56px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

/*Сортировка*/

.main-catalog {
  background-color: #ffffff;
  padding: 50px 70px 60px;
  width: 1060px;
}

.selection-parameters {
  display: flex;
  min-height: 49px;
  margin-bottom: 40px;
  justify-content: flex-end;
}

.number-search {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  margin-left: 0;
  flex-grow: 1;
  padding-top: 7px;
}

.view-composition {
  width: 160px;
  margin-left: 70px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;
}

.catalog-control {
  font-size: 18px;
  line-height: 21px;
  width: 295px;
  max-height: 49px;
  padding: 12px 20px;
  padding-right: 40px;
  border-radius: 4px;
  border: 2px solid #e5e5e5;
  appearance: none;
  font-family: inherit;
  background-image: url(../images/icons/bottom-arrow.svg);
  background-repeat: no-repeat;
  background-position: right 20px center;
}

.catalog-control:hover {
  border-color: #68a2ca;
}

.catalog-control:focus-visible {
  border-color: #68a2ca;
  outline: none;
}

.catalog-control:not(:empty):focus {
  border-color: #3f5e72;
  outline: none;
}

.catalog-control:disabled {
  color: rgba(0, 0, 0, 0.30);
  border-color: rgba(0, 0, 0, 0.30);
}

.button-composition {
  text-decoration: none;
  color: #000000;
  display: block;
  width: 20px;
  height: 20px;
  padding: 12px;
  border-radius: 4px;
  border: 2px solid #e5e5e5;
}

.button-composition:hover {
  border: 2px solid #000000;
}

.button-composition:focus {
  border: 2px solid #68a2ca;
  outline: none;
}

.button-composition:active {
  border: 2px solid #000000;
}


.button-composition.active {
  color: #ffffff;
  border: 2px solid #000000;
}

.view-cards {
  background-image: url(../images/icons/view-cards.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px 14px;
}

.view-big {
  background-image: url(../images/icons/view-big.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px 14px;
}

.view-list {
  background-image: url(../images/icons/view-list.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px 14px;
}

/*Карточки товаров*/

.product-list {
  list-style: none;
  margin: 0;
  margin-bottom: 39px;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 18px 20px;
}

.product-card {
  display: grid;
  grid-template-columns: 140px 140px;
  grid-template-rows: 212px 1fr;
  gap: 16px 20px;
  width: 298px;
  padding: 20px;
  border-radius: 4px;
  border: 1px solid #E6E6E6;
}

.product-card p {
  margin: 0;
}

.product-card .button {
  padding-left: 0;
  padding-right: 0;
}

.product-card-image {
  display: block;
}

.product-card-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  color: #000000;
  margin: 0;

}

.product-card-link {
  text-decoration: none;
  grid-column: 1/-1;
}

.product-card-right {
  justify-self: end;
}

.rating {
  background-color: #f2f2f2;
  color: #000000;
  font-weight: 400;
}

.rating-star {
  background-image: url(../images/icons/star.svg);
  background-size: 18px 17px;
  background-repeat: space;
  background-position: top left;
  height: 17px;
  margin-bottom: 10px;
  margin-top: 10px; 
}
.star-four {
  width: 89px;
}

.star-three {
  width: 65px;
}

.star-two {
  width: 41px;
}

/*Пагинация*/

.pagination {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  padding-top: 39px;
  border-top: 1px solid #e6e6e6;
}

.pagination-item {
  margin-right: 8px;
  width: 60px;
  height: 60px;
}

.pagination-item:last-child {
  margin-right: 0;
} 
.pagination-ellipsis {
  width: 60px;
  height: 40px;
  display: block;
  text-align: center;
  padding-top: 20px;

}

.pagination-link {
  background-color: #82b3d3;
  text-decoration: none;
  color: #ffffff;
  width: 60px;
  height: 60px;
  display: block;
  box-sizing: border-box;
  line-height: 36px;
  font-size: 20px;
  font-weight: 700; 
  border-radius: 4px;
  text-align: center;
  padding: 11.364px 0px 12.636px 0px;
}

.pagination-current {
  background-color: #f2f2f2;
  color: #000000;
}

.pagination-link:not(.pagination-current):hover {
  background-color: #68a2ca;
}

.pagination-link:not(.pagination-current):focus {
  background-color: #68a2ca;
}

.pagination-link:not(.pagination-current):active {
  background-color: #82b3d3;
  color: rgba(255, 255, 255, 0.3);
}
.main-inner .newsletter {
  background-color: #ffffff;
  background-image: none;
  color: #000000;
}

